.nav-contain  a{
    display: inline-block;
    padding-right: 45px !important;
    color: #505F98;
  }
  
  
  .landing-text-container h3{
    font-size: 26px;
    font-weight: 900;
    color: #37447E;
    
  }
  

  